.header-button {
  text-align: center;
  color: #51c9c0;
  font-size: 16px;
  padding: 3px;
  margin-right: 32px;
  border: 1px solid #c5c6c7;
  background-color: #1f2833;
  width: 60px;
}

.header-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
