.head-container {
  background-color: #0b0c10;
  border-bottom: 2px solid #c5c6c7;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-buttons-container {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}
